@{
    ViewData["Title"] = "Error " ;
}

<h1 class="text-center">Error</h1>
<hr/>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p> <strong> Something went wrong. </strong></p>
@if(ViewBag.ErrorCode != null){
        <p><strong>Error Code:</strong> <code>@ViewBag.ErrorCode</code></p>
}

@if (ViewBag.ErrorString is not null){
    <p> <strong> Error message: @ViewBag.ErrorString</strong></p>
}

<a class="btn btn-outline-danger" href="javascript:history.go(-1)"> OK, take me back </a>