@model Core.DomainModel.Availability

@{
    ViewData["Title"] = "Create appointment";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />


<div class="card col-md-6">
    <div class="card-body">
        <div class="row">
    <div>
        <form asp-action="Create">
            <p>Make a appointment with your therapist : @ViewBag.Patient.MedicalFile.IntakeTherapistId.ApplicationUser.FirstName @ViewBag.Patient.MedicalFile.IntakeTherapistId.ApplicationUser.SurName</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Please pick a TimeSlot.</p>
            <select asp-for="Id" asp-items="@(ViewBag.Brands)">
                <!--Not for edit:-->
                <option disabled selected>Please select one</option>
            </select>
            <br />
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

        <br />
<div>
    <a href="javascript:history.go(-1)">Back</a>
</div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
